@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Open+Sans&family=Poppins&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #586160;
}

header {
    position: fixed;
    width: 100%;
    height: 72px;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    background-color: rgba(177, 177, 177, 0.79);
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav h1 {
    font-size: 30px;
    margin: 0;
    padding: 2px 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 2px;
}

header nav h1 a {
    color: #57baba;
    text-decoration: none;
}

header nav ul {
    display: flex;
    list-style: none;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    text-decoration: none;
    color: #586161;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    transition: all .3s ease-in-out;
}

header nav ul li a:hover,
header nav ul li a.active
{
    color: #57baad;
    background-color: #2e2e2e;
    border-radius: 10px;
}

/* ... Existing styles ... */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 99;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    background: #fff;
    border-radius: 5px;
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    padding: 0 10px;
    animation: close-anime .5s ease;
}

.close:hover {
    animation: close-anim .5s ease;
    cursor: pointer;
}

@keyframes close-anim {
    from{
        transform: rotate(0);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes close-anime{
    from{
        transform: rotate(270deg);
    }
    to{
        transform: rotate(0deg);
    }
}

/* Additional styles for file input and selected image */
#imageInput {
    margin-top: 10px;
}

#selectedImage {
    max-width: 100%;
    height: auto;
    margin: 10px;
}



.landing-page{
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 140px 0 100px 0;
}

.landing-page:before{
    content: '';
    position: absolute;
    right: -100%;
    top: 25%;
    width: 250%;
    height: 200%;
    z-index: -1;
    background-color: #4adac2;
    transform: skewY(160deg);
}


.landing-page .landing-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1500px;
    width: 100%;
    margin: auto auto;
}


.landing-page h1{
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    color: #57bab2;
    font-family: "Poppins", sans-serif;
}

.landing-page h2{
    color: #517a7d;
    margin-bottom: 50px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.landing-page .get-start-btn, .popup-content .result-btn{
    text-decoration: none;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    background-color: #f8f9fa;
    color: #212529;
    transition: all .3s ease-in-out;
}

.landing-page .get-start-btn:hover, .result-btn:hover{
    cursor: pointer;
    background-color: #c4c4c4c4;
    color: #fefefe;
}

.landing-page .landing-container .landing-right-container img{
    width: 650px;
    height: auto;
}

.landing-page .landing-container .landing-right-container .credits{
    font-size: 12px;
    text-align: end;
}

.landing-page .landing-container .landing-right-container .credits a{
    color: #2e62d1;
    text-decoration: none;
}

.landing-page .landing-container .landing-right-container .credits a:hover{
    color: #0051ff;
}

.samples-container, .details-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 100px 0;
}

.samples-container .s-content-container{
    margin: 0 0 50px;
    text-align: center;
}

.samples-container .s-content-container h2{
    color: #57b3ba;
    margin: 0 0 30px;
    letter-spacing: 1.2px;
    font-size: 32px;
    font-weight: 400;
}

.samples-container .s-content-container p{
    font-size: 18px;
}

@keyframes slide {
    from{
        transform: translateX(0);
    }
    
    to{
        transform: translateX(-100%);
    }
}

.slide-wrapper{
    overflow: hidden;
    width: 100%;
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
}

.slide-wrapper:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: linear-gradient(to left, rgba(255, 255, 255, 0.6), rgba(255, 0, 0, 05)    );
    z-index: 2;
}

.slider{
    display: inline-block;
    animation: 35s slide infinite linear;
}

.slider img{
    padding: 10px;
}


.border-radius{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 500px;
    border-radius: 30px;
    border: 10px solid #4adac2;
    box-sizing: border-box;
    z-index: 1;
}

.slider-nav{
    display: flex;
    column-gap: 10px;
    position: absolute;
    top: 105%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.slider-nav span.active{
    background-color: #57baad;
}

.slider-nav span{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #212529;
    opacity: .75;
    transition: opacity ease 250ms;
}

.slider-nav span:hover{
    opacity: 1;
    background-color: #212529;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    width: 100%;
    height: auto;
}

.content .content-1{
    font-family: 'Poppins', sans-serif;
}

.content .content-1 h2{
    margin-bottom: 10px;
    color: #4adac2;
    font-size: 34px;
}

.content-1 p{
    color: #586160;
}

.content-1 ul{
    list-style: none;
}

.content-1 ul li {
    margin: 10px 0;
}

.content-1 ul li i{
    color: #4adac2;
    margin-right: 10px;
}

.content-1 ul li a{
    text-decoration: none;
    color: #4adac2;
}

footer{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer p, footer p a{
    font-size: 18px;
    line-height: 72px;
    color: #586160;
}

footer p a{
    text-decoration: none;
    color: #2e62d1;
}

footer p a:hover{
    color: #0051ff;
}
